<h3>Post New Item For Sale</h3>
<form>
    Title: <input type="text" ng-model="title">
    <div class="dropdown category-dropdown">
        <form>
            <select name="" id="" ng-model="category" ng-options="category as category.name for category in categories">
                <option value="">All Category</option>
            </select>
        </form>
    </div>
    Description: <input type="text" ng-model="description">
    Price: <input type="text" ng-model="price">
    Stock: <input type="text" ng-model="stock">
    <button ng-click="createProduct()">Post for Sale</button>
</form>

<h3>Items For Sale</h3>
<ul>
    <li ng-repeat="product in productsForSale">
        Product Name: {{product.title}}
        <br>
        Product Description: {{product.description}}
        <br>
        <button ng-click="showListing = !showListing">View Listing</button>
        <zb-sell-product ng-show="showListing" product="product"></zb-sell-product>
        <button ng-click="removeProduct(product)">Remove Listing</button>
        <!--<button ng-click="editSale(product)">Edit Listing</button>-->
        <br>
        <br>
    </li>
</ul>
