<h2>My Marketplace</h2>
<div class="market-place">
<h3>Post New Item For Sale</h3>
<form>
    <div class="title">
    Title: <div><input type="text" ng-model="title"></div>
    </div>
    <div class="dropdown category-dropdown">
        <form>
            <select name="" id="" ng-model="category" ng-options="category as category.name for category in categories">
                <option value="">All Category</option>
            </select>
        </form>
    </div>
    <div class="description">
        Description: <div><input type="text" ng-model="description"></div>
    </div>
    <div class="price">
    Price: <div><input type="text" ng-model="price"></div>
    </div>
    <div class="stock">
    Stock: <div><input type="text" ng-model="stock"></div>
    </div>
    <div class="post">
    <button class="btn btn-primary" ng-click="createProduct()">Post for Sale</button>
    </div>
</form>

<h3>Items For Sale</h3>
<ul>
    <li ng-repeat="product in productsForSale">
        Product Name: {{product.title}}
        <br>
        Product Description: {{product.description}}
        <br>
        <button class="btn btn-primary" ng-click="showListing = !showListing">View Listing</button>
        <zb-sell-product ng-show="showListing" product="product"></zb-sell-product>
        <button class="btn btn-primary" ng-click="removeProduct(product)">Remove Listing</button>
        <!--<button ng-click="editSale(product)">Edit Listing</button>-->
        <br>
        <br>
    </li>
</ul>
</div>
