<!--http://jsfiddle.net/iscrow/Es4L3/-->
<div class="zbay-navbar">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Brand</a>-->
            <div class="navbar-brand navbar-header">
                <a ui-sref="home">
                    <biohazard-logo></biohazard-logo>
                </a>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in items" ng-show="(!item.admin || user.isAdmin) && (!item.auth || isLoggedIn())">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                </li>
            </ul>
            <!--<div id='header-auth' class='pull-right'>-->
              <!--<button ng-hide="user" ui-sref="login" class="btn login-button sign-in">Login</button>-->
              <!--<button ng-hide="user" ui-sref="signup" class="btn login-button sign-in">Signup</button>-->
              <!--<oauth-button ng-hide='user' service-provider='Google'></oauth-button>-->
            <!--</div>-->
            <!--<div ng-show="user" class="welcome">-->
                <!--<span>Welcome, {{ user.email }}!</span>-->
                <!--<a ng-click="logout()">Logout</a>-->

            <div class="set-sign-in">
                <div>
                <button ng-hide="user" ui-sref="login" class="btn login-button sign-in">Login</button>
                </div>
                <div class="sign-up-button">
                <button ng-hide="user" ui-sref="signup" class="btn signup-button sign-up">Signup</button>
                </div>
                <div>
                    <oauth-button ng-hide='user' service-provider='Google'></oauth-button>
                    <div ng-show="user" class="welcome">
                        <span>Welcome, {{ user.email }}!</span>
                        <a ng-click="logout()">Logout</a>
                    </div>
                </div>
            </div>
            <zb-cart user="user"></zb-cart>
            <!--<button ui-sref="marketplace" ng-show="user">Click To View Marketplace</button>-->

            <searchbar>
            </searchbar>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
