@import url(https://fonts.googleapis.com/css?family=Cabin:400,500|Old+Standard+TT:400,700);

// VARIABLES
$sans-serif: 'Cabin', sans-serif;
$serif: 'Old Standard TT', serif;

* {
  box-sizing: border-box;
  font-family: $sans-serif;
}

body {
  background: #fdfdfd;
  margin-bottom: 100px; // Used to clear the footer, may be a better way
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#header-auth {
  padding-right: 70px
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

body.home {
  background-image: url('assets/bg.png');
  background-size: cover;
}

#home h1 {
  color: white;
  font-family: $sans-serif;
  margin-top: 20px;
  letter-spacing: 10px;
}

@import 'directives/main';
@import 'directives/footer';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'products/main';
