* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  margin-bottom: 100px; // Used to clear the footer, may be a better way
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'directives/footer';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'products/main';
@import 'reviews/main';
